body {
  background-color: grey;
}
#portfolio-header-row {
  background-color: blue;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
#header-name-column {
  text-align: center;
}
#portfolio-statement-row {
  background-color: gold;
  color: black;
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
}
#portfolio-skills-row {
  background-color: green;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#portfolio-projects-row {
  background-color: red;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#navbar-space {
  height: 56px;
}
#empty-navbar-row {
  padding: 0;
}
#empty-navbar-div {
  height: 56px;
}
#portfolio-skills-row .col-9 {
  padding-bottom: 1.5rem;
}
#portfolio-skills-row .col-3 {
  background-color: grey;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#portfolio-statement-row div h3 {
  text-align: center;
  padding-bottom: 1.5rem;
}
#portfolio-skills-row div h3 {
  text-align: center;
}
#portfolio-skills-row div p {
  text-align: center;
  margin-bottom: 0;
}
#portfolio-skills-row .col-3 p {
  text-decoration: underline;
}
#portfolio-projects-row div h3 {
  text-align: center;
  padding-bottom: 2rem;
}
#portfolio-projects-row div dl div {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
